#faq {
    background: var(--gradient-black);
  overflow: hidden;
}

#faq header {
    text-align: left;
    margin-bottom: 5rem;
}

#faq header h2 {
    color: var(--color-text);
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#faq header h2 span {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#faq details {
    position: relative;
    z-index: 10;
}

#faq summary {
    font-size: 1.4rem;
    
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(19, 19, 19, 0.849);
    border: 1px solid rgba(255, 255, 255, 0.125);

    padding: 1.5rem;
    border-radius: .5rem;
    color: #d8d8d8;
    text-align: left;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
#faq .details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  #faq  details summary:hover {
    cursor: pointer;
  }
  
  #faq  details summary svg {
    transition: all 100ms ease-in-out;
  }
  
  #faq  details[open] summary svg {
    transform: rotate(90deg);
  }
  
  #faq details>summary {
    list-style: none;
  }
  #faq summary::-webkit-details-marker {
    display: none
  }
  
  #faq details p {
    /* From https://css.glass */
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(7, 7, 7, 0.945);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    font-size: 1.4rem;
    text-align: left;
    padding: 2rem;
  
    border: .5px solid #1f1f1f;
    border-top: none;
    border-radius: 0 0 1rem 1rem;
  
    color: #d8d8d8;
    font-weight: 500;
    line-height: 1.3;
  }
  
  #faq details[open] summary {
    border-radius: 1rem 1rem 0 0;
    border-bottom: none;
  }
  
  #faq details[open] summary ~ * {
    animation: swep 300ms ease-in-out;
  }

  @media (min-width: 768px) {
    .wrapper {
        width: min(76rem, 100%);
    } 
  }
  
  @media (min-width: 1080px) {
      .wrapper {
        width: min(112rem, 100%);
      }

      section#faq .content .details {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      section#faq header h2 {
        font-size: 4rem;
        margin-bottom: 6rem;
      }

  }
  
  @media (min-width: 1400px) {
    .wrapper {
      width: min(140rem, 100%);
    }
  }
  
  @media (min-width: 1700px) {
    .wrapper {
      width: min(150rem, 100%);
    }
  }
  
  @media (min-width: 2000px) {
    .wrapper {
      width: min(160rem, 100%);
    }
  }
  
  